export API_ID="24679387"
export API_HASH="ad9e119acbfc9de527e1da32fae2a866"
export SESSION_STRING="1BVtsOHEBu4yDAfPSW6ZF0iTq2k-tepWkMoWWZ4Wlk_FtJMyZRqBIjbgEL9nXHQLPMDKzThKsVYb9tVuZOrck3JoltAFL_QkoA_fNDkhj1ZYMIXdqC7WOoHdbfqyXuVDtxy9piGodcPL8XTiAjduOJEaTuNDfhpKRQ1qo3gDFhpZyE5eN61-tfpoP5LefVWXMSK5-4xbzEA1Lw3RiT0EmJgu6ppSX02gzdKQ6uR79s_jvjRs409uDaeBIOzpN1RqvDezVwNsUlzTa_kreKA4L-WXKqtqh_Gp2E_d9r_iZB23IdO2NeHYj02KkLT4Roh9AyXU06Jk6vdDPJWZvIssIyhrSJiZWZSk="

# sqlite/sqlite3 atau mongo/mongodb
export DB_TYPE=sqlite3
# nama file untuk sqlite3, nama database untuk mongodb
export DB_NAME=userbot.sqlite

# hanya untuk mongodb
export DB_URL=
